@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Metal+Mania&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer;
  background-color: transparent; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*-------------------------------Fonts-----------------------------------*/
/*---------------------------------Vars----------------------------------*/
/*-------------------------------VARIABLES-------------------------------*/
/*----------------------------------Music-------------------------------*/
.music {
  opacity: 0;
  position: absolute; }

/*--------------------------------Cursor----------------------------------*/
body {
  cursor: url("../icons/cursor.svg"), auto; }

input,
a,
button,
.cursorPointer {
  cursor: url("../icons/cursorPointer.svg") 6 0, auto; }

/*---------------------------Loading-----------------------------------*/
.container {
  display: none; }

#loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); }
  #loading .loading__text {
    font-size: 32px;
    color: #EEF6FF; }
  #loading .loading__inner {
    text-align: center; }
  #loading img {
    -webkit-animation: 1.2s linear 0s infinite alternate sword-loading;
    animation: 1.2s linear 0s infinite alternate sword-loading;
    margin-bottom: 10px; }

@-webkit-keyframes sword-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes sword-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*--------------------------Content wrappers------------------------------*/
body {
  font-family: "Metal Mania";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #787878;
  height: 100vh; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px; }

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

/*-----------------------------Scroll-bar---------------------------------*/
::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  background: #90aaec; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #cedeff; }

/*-----------------------------Custom text----------------------------------*/
.text_convert {
  display: inline-block;
  position: relative; }

.text_stroke {
  position: relative;
  color: #EEF6FF;
  z-index: 1; }

.text_stroke_bg {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-stroke-width: 0.125em;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5); }

/*------------------------------Header------------------------------------*/
.header {
  position: relative;
  z-index: 50;
  width: 100%;
  padding: 24px 0; }
  @media (max-width: 767.98px) {
    .header {
      padding: 10px 0; } }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__logo {
    position: relative;
    width: 100px;
    height: 90px; }
    @media (max-width: 767.98px) {
      .header__logo {
        width: 70px;
        height: 63px; } }
    .header__logo::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 120px;
      height: 85px; }
    .header__logo img {
      max-width: 100%;
      width: 100%;
      -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      -webkit-transition: -webkit-transform 0.1s ease-in;
      transition: -webkit-transform 0.1s ease-in;
      -o-transition: transform 0.1s ease-in;
      transition: transform 0.1s ease-in;
      transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in; }
      @media (min-width: 767.98px) {
        .header__logo img:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); } }
  .header__menu {
    position: fixed;
    z-index: 10;
    overflow: auto;
    top: -200%;
    left: 0;
    -webkit-transition-duration: 0.3s top;
    -o-transition-duration: 0.3s top;
    transition-duration: 0.3s top;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) top;
    -o-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) top;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) top; }
  .header__menu.active {
    top: 0;
    z-index: 10; }
  .header__invisible {
    height: 140px;
    width: 100%; }
    @media (max-width: 767.98px) {
      .header__invisible {
        height: 85px; } }
  .header__map {
    position: relative;
    max-width: 748px;
    max-height: 561px; }
    @media (max-width: 767.98px) {
      .header__map {
        max-width: 643.28px;
        max-height: 482.46px; } }
    @media (max-width: 659.98px) {
      .header__map {
        max-width: 523.6px;
        max-height: 392.7px; } }
    @media (max-width: 539.98px) {
      .header__map {
        max-width: 411.4px;
        max-height: 308.55px; } }
    @media (max-width: 424.98px) {
      .header__map {
        max-width: 374px;
        max-height: 280.5px; } }
    @media (max-width: 384.98px) {
      .header__map {
        max-width: 299.2px;
        max-height: 224.4px; } }
  .header__elements {
    position: relative; }
    .header__elements > img {
      max-width: 100%;
      width: 100%;
      -webkit-filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
      filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7)); }
  .header__timer, .header__books, .header__home, .header__dictionary, .header__games, .header__seamonster, .header__shipLarge, .header__ship {
    position: absolute; }
  .header__timer, .header__books, .header__home, .header__dictionary, .header__games {
    position: absolute; }
    @media (min-width: 767.98px) {
      .header__timer:hover, .header__books:hover, .header__home:hover, .header__dictionary:hover, .header__games:hover {
        -webkit-filter: drop-shadow(0px 0px 20px #ffffff);
        filter: drop-shadow(0px 0px 20px #ffffff); } }
  .header__timer {
    left: 191px;
    top: 75px;
    width: 46px;
    height: 91px; }
    @media (max-width: 767.98px) {
      .header__timer {
        left: 164.26px;
        top: 64.5px;
        width: 39.56px;
        height: 78.26px; } }
    @media (max-width: 659.98px) {
      .header__timer {
        left: 133.7px;
        top: 52.5px;
        width: 32.2px;
        height: 63.7px; } }
    @media (max-width: 539.98px) {
      .header__timer {
        left: 105.05px;
        top: 41.25px;
        width: 25.3px;
        height: 50.05px; } }
    @media (max-width: 424.98px) {
      .header__timer {
        left: 95.5px;
        top: 37.5px;
        width: 23px;
        height: 45.5px; } }
    @media (max-width: 384.98px) {
      .header__timer {
        left: 76.4px;
        top: 30px;
        width: 18.4px;
        height: 36.4px; } }
    .header__timer img {
      max-width: 100%;
      width: 100%; }
  .header__books {
    right: 207px;
    top: 112px;
    width: 84px;
    height: 100px; }
    @media (max-width: 767.98px) {
      .header__books {
        right: 178.02px;
        top: 96.32px;
        width: 72.24px;
        height: 86px; } }
    @media (max-width: 659.98px) {
      .header__books {
        right: 144.9px;
        top: 78.4px;
        width: 58.8px;
        height: 70px; } }
    @media (max-width: 539.98px) {
      .header__books {
        right: 113.85px;
        top: 61.6px;
        width: 46.2px;
        height: 55px; } }
    @media (max-width: 424.98px) {
      .header__books {
        right: 103.5px;
        top: 56px;
        width: 42px;
        height: 50px; } }
    @media (max-width: 384.98px) {
      .header__books {
        right: 82.8px;
        top: 44.8px;
        width: 33.6px;
        height: 40px; } }
    .header__books img {
      max-width: 100%;
      width: 100%; }
  .header__home {
    right: 180px;
    bottom: 181px;
    width: 92px;
    height: 115px; }
    @media (max-width: 767.98px) {
      .header__home {
        right: 154.8px;
        bottom: 155.66px;
        width: 79.12px;
        height: 98.9px; } }
    @media (max-width: 659.98px) {
      .header__home {
        right: 126px;
        bottom: 126.7px;
        width: 64.4px;
        height: 80.5px; } }
    @media (max-width: 539.98px) {
      .header__home {
        right: 99px;
        bottom: 99.55px;
        width: 50.6px;
        height: 63.25px; } }
    @media (max-width: 424.98px) {
      .header__home {
        right: 90px;
        bottom: 90.5px;
        width: 46px;
        height: 57.5px; } }
    @media (max-width: 384.98px) {
      .header__home {
        right: 72px;
        bottom: 72.4px;
        width: 36.8px;
        height: 46px; } }
    .header__home img {
      max-width: 100%;
      width: 100%; }
  .header__dictionary {
    left: 146px;
    bottom: 68px;
    width: 121px;
    height: 112px; }
    @media (max-width: 767.98px) {
      .header__dictionary {
        left: 125.56px;
        bottom: 58.48px;
        width: 104.06px;
        height: 96.32px; } }
    @media (max-width: 659.98px) {
      .header__dictionary {
        left: 102.2px;
        bottom: 47.6px;
        width: 84.7px;
        height: 78.4px; } }
    @media (max-width: 539.98px) {
      .header__dictionary {
        left: 80.3px;
        bottom: 37.4px;
        width: 66.55px;
        height: 61.6px; } }
    @media (max-width: 424.98px) {
      .header__dictionary {
        left: 73px;
        bottom: 34px;
        width: 60.5px;
        height: 56px; } }
    @media (max-width: 384.98px) {
      .header__dictionary {
        left: 58.4px;
        bottom: 27.2px;
        width: 48.4px;
        height: 44.8px; } }
    .header__dictionary img {
      max-width: 100%;
      width: 100%; }
  .header__games {
    left: 166px;
    bottom: 239px;
    width: 67px;
    height: 83px; }
    @media (max-width: 767.98px) {
      .header__games {
        left: 142.76px;
        bottom: 205.54px;
        width: 57.62px;
        height: 71.38px; } }
    @media (max-width: 659.98px) {
      .header__games {
        left: 116.2px;
        bottom: 167.3px;
        width: 46.9px;
        height: 58.1px; } }
    @media (max-width: 539.98px) {
      .header__games {
        left: 91.3px;
        bottom: 131.45px;
        width: 36.85px;
        height: 45.65px; } }
    @media (max-width: 424.98px) {
      .header__games {
        left: 83px;
        bottom: 119.5px;
        width: 33.5px;
        height: 41.5px; } }
    @media (max-width: 384.98px) {
      .header__games {
        left: 66.4px;
        bottom: 95.6px;
        width: 26.8px;
        height: 33.2px; } }
    .header__games img {
      max-width: 100%;
      width: 100%; }
  .header__ship {
    left: 80px;
    bottom: 125px;
    width: 53px;
    height: 59px; }
    @media (max-width: 767.98px) {
      .header__ship {
        left: 68.8px;
        bottom: 107.5px;
        width: 45.58px;
        height: 50.74px; } }
    @media (max-width: 659.98px) {
      .header__ship {
        left: 56px;
        bottom: 87.5px;
        width: 37.1px;
        height: 41.3px; } }
    @media (max-width: 539.98px) {
      .header__ship {
        left: 44px;
        bottom: 68.75px;
        width: 29.15px;
        height: 32.45px; } }
    @media (max-width: 424.98px) {
      .header__ship {
        left: 40px;
        bottom: 62.5px;
        width: 26.5px;
        height: 29.5px; } }
    @media (max-width: 384.98px) {
      .header__ship {
        left: 32px;
        bottom: 50px;
        width: 21.2px;
        height: 23.6px; } }
    .header__ship img {
      max-width: 100%;
      width: 100%; }
  .header__shipLarge {
    left: 313px;
    top: 180px;
    width: 74px;
    height: 59px; }
    @media (max-width: 767.98px) {
      .header__shipLarge {
        left: 269.18px;
        top: 154.8px;
        width: 63.64px;
        height: 50.74px; } }
    @media (max-width: 659.98px) {
      .header__shipLarge {
        left: 219.1px;
        top: 126px;
        width: 51.8px;
        height: 41.3px; } }
    @media (max-width: 539.98px) {
      .header__shipLarge {
        left: 172.15px;
        top: 99px;
        width: 40.7px;
        height: 32.45px; } }
    @media (max-width: 424.98px) {
      .header__shipLarge {
        left: 156.5px;
        top: 90px;
        width: 37px;
        height: 29.5px; } }
    @media (max-width: 384.98px) {
      .header__shipLarge {
        left: 125.2px;
        top: 72px;
        width: 29.6px;
        height: 23.6px; } }
    .header__shipLarge img {
      max-width: 100%;
      width: 100%; }
  .header__seamonster {
    right: 276px;
    bottom: 134px;
    width: 53px;
    height: 41px; }
    @media (max-width: 767.98px) {
      .header__seamonster {
        right: 237.36px;
        bottom: 115.24px;
        width: 45.58px;
        height: 35.26px; } }
    @media (max-width: 659.98px) {
      .header__seamonster {
        right: 193.2px;
        bottom: 93.8px;
        width: 37.1px;
        height: 28.7px; } }
    @media (max-width: 539.98px) {
      .header__seamonster {
        right: 151.8px;
        bottom: 73.7px;
        width: 29.15px;
        height: 22.55px; } }
    @media (max-width: 424.98px) {
      .header__seamonster {
        right: 138px;
        bottom: 67px;
        width: 26.5px;
        height: 20.5px; } }
    @media (max-width: 384.98px) {
      .header__seamonster {
        right: 110.4px;
        bottom: 53.6px;
        width: 21.2px;
        height: 16.4px; } }
    .header__seamonster img {
      max-width: 100%;
      width: 100%; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__burger {
    display: block;
    width: 86px;
    position: relative;
    margin-right: 30px;
    -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5)); }
    @media (max-width: 767.98px) {
      .header__burger {
        width: 65px; } }
    @media (max-width: 374.98px) {
      .header__burger {
        margin-right: 20px; } }
    .header__burger img {
      max-width: 100%;
      -webkit-transition: -webkit-transform 0.1s ease-in;
      transition: -webkit-transform 0.1s ease-in;
      -o-transition: transform 0.1s ease-in;
      transition: transform 0.1s ease-in;
      transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
      position: relative;
      z-index: 51; }
      .header__burger img::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 90px;
        height: 85px; }
      @media (min-width: 767.98px) {
        .header__burger img:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); } }
  .header__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 18px;
    position: relative; }
    @media (min-width: 767.98px) {
      .header__user:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: -webkit-transform 0.1s ease-in;
        transition: -webkit-transform 0.1s ease-in;
        -o-transition: transform 0.1s ease-in;
        transition: transform 0.1s ease-in;
        transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in; }
        .header__user:hover img {
          -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
          transform: scale(1.4);
          -webkit-transition: -webkit-transform 0.1s ease-in;
          transition: -webkit-transform 0.1s ease-in;
          -o-transition: transform 0.1s ease-in;
          transition: transform 0.1s ease-in;
          transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in; } }
    .header__user::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 75px;
      height: 75px;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1; }
      @media (max-width: 767.98px) {
        .header__user::before {
          width: 65px;
          height: 65px; } }
    .header__user::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80px;
      height: 85px; }
    .header__user img {
      max-height: 60px;
      height: 100%; }
      @media (max-width: 767.98px) {
        .header__user img {
          max-height: 48px; } }

.header__controls {
  position: absolute;
  top: 75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .header__controls > * {
    display: none; }
  @media (max-width: 767.98px) {
    .header__controls {
      top: 65px; } }

.user_header__music, .user_header__logout {
  position: relative;
  width: 75px;
  z-index: 1;
  font-size: 18px;
  line-height: 1.25;
  color: #819fea;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5); }
  @media (min-width: 767.98px) {
    .user_header__music:hover, .user_header__logout:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); } }

.user_header__music {
  margin-bottom: 10px; }

.header__user.active {
  -webkit-transition: all 3s ease-in;
  -o-transition: all 3s ease-in;
  transition: all 3s ease-in; }
  .header__user.active .header__controls > * {
    display: block; }
  @media (min-width: 767.98px) {
    .header__user.active:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: -webkit-transform 0.1s ease-in;
      transition: -webkit-transform 0.1s ease-in;
      -o-transition: transform 0.1s ease-in;
      transition: transform 0.1s ease-in;
      transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in; }
      .header__user.active:hover img {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 0.1s ease-in;
        transition: -webkit-transform 0.1s ease-in;
        -o-transition: transform 0.1s ease-in;
        transition: transform 0.1s ease-in;
        transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in; } }
  .header__user.active::before {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-radius: 10px;
    width: 90px;
    height: 140px;
    background-color: #333345;
    border: 4px solid #819fea; }

body.lock {
  overflow: hidden; }

.header__burger.active img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

/*------------------------------Log/Reg------------------------------------*/
.wrapper_log {
  background: url("../images/logReg/logRegBg.jpg");
  background-size: cover; }

.page_log {
  background: url("../images/logReg/logRegBg.jpg");
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative; }
  @media (max-width: 979.98px) {
    .page_log {
      background-position: center; } }
  @media (max-width: 767.98px) {
    .page_log::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72)), to(rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%); } }

.login {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  @media (max-width: 767.98px) {
    .login {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .login__inner {
    padding: 120px 0 60px 0;
    min-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 0;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: 0.5s ease-in-out transform;
    -o-transition: 0.5s ease-in-out transform;
    transition: 0.5s ease-in-out transform; }
    @media (max-width: 1199.98px) {
      .login__inner {
        padding: 60px 0 60px 0;
        min-width: 400px; } }
    .login__inner::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 300vw;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72)), to(rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
      height: 100vh;
      z-index: -1; }
      @media (max-width: 767.98px) {
        .login__inner::before {
          background: none; } }
    .login__inner_animation {
      -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      transform: translateX(-30%); }
  .login__logo {
    width: 185px;
    margin: 0 0 40px 0; }
    .login__logo img {
      max-width: 100%;
      width: 100%;
      -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5)); }
    @media (max-width: 1199.98px) {
      .login__logo {
        width: 140px;
        margin: 0 0 40px 0; } }
  .login__button {
    font-size: 22px;
    line-height: 1.22727;
    color: #EEF6FF;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 10px;
    position: relative; }
    .login__button:hover {
      text-shadow: #b2b2b2 0px 0px 10px;
      -webkit-transition: 0.3s ease-in-out text-shadow;
      -o-transition: 0.3s ease-in-out text-shadow;
      transition: 0.3s ease-in-out text-shadow; }
    .login__button::before {
      content: "";
      background: rgba(0, 0, 0, 0.75);
      -webkit-clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
      clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 30px;
      -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
      transform: translate(-100%, -50%); }
    .login__button::after {
      content: "";
      background-image: url("../icons/pixy.svg");
      position: absolute;
      background-size: 60px 80px;
      width: 60px;
      height: 80px;
      left: -20px;
      top: 50%;
      -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
      transform: translate(-100%, -50%);
      -webkit-animation: 1.4s ease-in-out 0s infinite alternate pixy-move;
      animation: 1.4s ease-in-out 0s infinite alternate pixy-move; }
      @media (max-width: 374.98px) {
        .login__button::after {
          background-size: 45px 60px;
          width: 45px;
          height: 60px; } }
  .login__link {
    color: #EEF6FF;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5); }
    @media (max-width: 1199.98px) {
      .login__link {
        font-size: 22px; } }
    .login__link:hover {
      text-shadow: #b2b2b2 0px 0px 10px;
      -webkit-transition: 0.3s ease-in-out text-shadow;
      -o-transition: 0.3s ease-in-out text-shadow;
      transition: 0.3s ease-in-out text-shadow; }

.inputs_login {
  margin-bottom: 38px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  max-width: 300px;
  width: 100%; }
  @media (max-width: 1199.98px) {
    .inputs_login {
      max-width: 200px; } }
  .inputs_login__username input, .inputs_login__password input, .inputs_login__password_repeat input {
    width: 100%;
    padding: 7px 15px;
    background: #ffffff;
    -webkit-box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.5);
    border-radius: 21px;
    color: #5475b7; }
    .inputs_login__username input::-webkit-input-placeholder, .inputs_login__password input::-webkit-input-placeholder, .inputs_login__password_repeat input::-webkit-input-placeholder {
      color: #5475b7; }
    .inputs_login__username input:-ms-input-placeholder, .inputs_login__password input:-ms-input-placeholder, .inputs_login__password_repeat input:-ms-input-placeholder {
      color: #5475b7; }
    .inputs_login__username input::-ms-input-placeholder, .inputs_login__password input::-ms-input-placeholder, .inputs_login__password_repeat input::-ms-input-placeholder {
      color: #5475b7; }
    .inputs_login__username input::placeholder, .inputs_login__password input::placeholder, .inputs_login__password_repeat input::placeholder {
      color: #5475b7; }
  .inputs_login__username {
    position: relative;
    margin-bottom: 20px; }
    .inputs_login__username::before {
      content: url("../icons/steelHelm.svg");
      position: absolute;
      height: 30px;
      width: 21px;
      top: 0;
      left: -36px; }
  .inputs_login__password {
    position: relative; }
    .inputs_login__password::before {
      content: url("../icons/magicScroll.svg");
      position: absolute;
      height: 30px;
      width: 31px;
      top: 0;
      left: -41px; }

@-webkit-keyframes pixy-move {
  0% {
    top: 40%;
    left: -20px; }
  100% {
    top: 60%;
    left: -15px; } }

@keyframes pixy-move {
  0% {
    top: 40%;
    left: -20px; }
  100% {
    top: 60%;
    left: -15px; } }

.reg__inner {
  padding: 40px 0 20px 0; }

.inputs_login__password_repeat {
  position: relative;
  margin-top: 20px; }
  .inputs_login__password_repeat::before {
    content: url("../icons/magicScroll.svg");
    position: absolute;
    height: 30px;
    width: 31px;
    top: 0;
    left: -41px; }

.swiper {
  width: 340px;
  height: 158px;
  margin-bottom: 53px; }
  .swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .swiper .swiper-slide img {
      max-height: 100%; }
  .swiper .swiper-button-prev::after {
    left: 0; }
  .swiper .swiper-button-next::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0; }
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    width: 50px;
    height: 50px; }
    .swiper .swiper-button-prev img,
    .swiper .swiper-button-next img {
      max-width: 100%; }
    .swiper .swiper-button-prev::after,
    .swiper .swiper-button-next::after {
      content: '';
      background: url("../icons/swiperArrow.svg") center no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px; }
      @media (max-width: 374.98px) {
        .swiper .swiper-button-prev::after,
        .swiper .swiper-button-next::after {
          width: 35px;
          height: 35px; } }
  .swiper .swiper-button-disabled {
    display: none; }
  @media (max-width: 374.98px) {
    .swiper {
      margin-bottom: 33px;
      width: 242px;
      height: 112px; } }

/*-------------------------------Home------------------------------------*/
.wrapper_home {
  background: url("../images/home/bg.jpg") top right no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.swiper__next_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px; }

.swiper__next,
.swiper__prev {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4)); }
  @media (min-width: 767.98px) {
    .swiper__next:hover,
    .swiper__prev:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: -webkit-transform 0.1s ease-in;
      transition: -webkit-transform 0.1s ease-in;
      -o-transition: transform 0.1s ease-in;
      transition: transform 0.1s ease-in;
      transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in; } }

.home__greetings {
  margin: 40px 0; }
  @media (max-width: 767.98px) {
    .home__greetings {
      margin: 20px 0; } }

.home__pixy_1, .home__pixy_2 {
  margin-bottom: 40px; }
  @media (max-width: 767.98px) {
    .home__pixy_1, .home__pixy_2 {
      margin-bottom: 20px; } }

.home__pixy_3 {
  margin-bottom: 100px; }
  @media (max-width: 767.98px) {
    .home__pixy_3 {
      margin-bottom: 50px; } }

.home__pixy_left {
  -webkit-animation: 1.4s ease-in-out 0s infinite alternate pixy-fly;
  animation: 1.4s ease-in-out 0s infinite alternate pixy-fly; }

.home__pixy_right {
  -webkit-animation: 1.4s ease-in-out 0s infinite alternate pixy-fly-flipped;
  animation: 1.4s ease-in-out 0s infinite alternate pixy-fly-flipped; }

.home__logo {
  margin: 0 auto 40px auto;
  width: 240px;
  -webkit-filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.7)); }
  .home__logo img {
    max-width: 100%;
    width: 100%; }
  @media (max-width: 767.98px) {
    .home__logo {
      margin: 0 auto 20px auto;
      width: 160px; } }

.home__map {
  -webkit-filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
  width: 256px;
  margin: 0 auto 40px auto; }
  @media (max-width: 767.98px) {
    .home__map {
      width: 150px;
      margin: 0 auto 20px auto; } }
  .home__map img {
    max-width: 100%;
    width: 100%; }

@-webkit-keyframes pixy-fly {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

@keyframes pixy-fly {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

@-webkit-keyframes pixy-fly-flipped {
  0% {
    -webkit-transform: translateY(-8px) scaleX(-1);
    transform: translateY(-8px) scaleX(-1); }
  100% {
    -webkit-transform: translateY(8px) scaleX(-1);
    transform: translateY(8px) scaleX(-1); } }

@keyframes pixy-fly-flipped {
  0% {
    -webkit-transform: translateY(-8px) scaleX(-1);
    transform: translateY(-8px) scaleX(-1); }
  100% {
    -webkit-transform: translateY(8px) scaleX(-1);
    transform: translateY(8px) scaleX(-1); } }

.slide_home {
  margin-bottom: 40px; }
  @media (max-width: 767.98px) {
    .slide_home {
      margin-bottom: 20px; } }
  .slide_home__image {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 40px auto;
    -webkit-filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7)); }
    @media (max-width: 767.98px) {
      .slide_home__image {
        margin: 0 auto 20px auto; } }
    .slide_home__image img {
      max-width: 100%;
      width: 100%; }

.swiper_2 {
  overflow: hidden; }

/*----------------------------Dictionary------------------------------------*/
.wrapper_dictionary {
  background: url("../images/dictionary/bg.jpg") bottom center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.dictionary__translator_wrapper {
  padding: 0 130px; }
  @media (max-width: 924.98px) {
    .dictionary__translator_wrapper {
      padding: 0 100px; } }
  @media (max-width: 767.98px) {
    .dictionary__translator_wrapper {
      padding: 0 10px; } }

.dictionary__dialog {
  margin-bottom: 100px; }
  .dictionary__dialog > *:not(:last-child) {
    margin-bottom: 40px; }
    @media (max-width: 767.98px) {
      .dictionary__dialog > *:not(:last-child) {
        margin-bottom: 20px; } }

.dictionary__example {
  max-width: 600px;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7)); }
  .dictionary__example img {
    max-width: 100%;
    width: 100%; }

.translator_dictionary {
  background: url("../images/dictionary/paper.jpg") no-repeat;
  background-size: cover;
  max-width: 800px;
  width: 100%;
  margin: 40px auto;
  padding: 20px 0px 10px 0px;
  font-family: "Marck Script";
  font-style: normal;
  color: #000000;
  -webkit-filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
  position: relative; }
  @media (max-width: 767.98px) {
    .translator_dictionary {
      margin: 20px auto; } }
  .translator_dictionary::after {
    content: "";
    -webkit-filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
    position: absolute;
    top: -25px;
    right: -130px;
    background: url("../images/dictionary/pen.png") no-repeat;
    background-size: cover;
    width: 163px;
    height: 451px; }
    @media (max-width: 924.98px) {
      .translator_dictionary::after {
        width: 122.25px;
        height: 338.25px;
        top: 25px;
        right: -95px; } }
    @media (max-width: 767.98px) {
      .translator_dictionary::after {
        width: 61.125px;
        height: 169.125px;
        top: auto;
        bottom: -60px;
        right: 30px;
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg); } }
    @media (max-width: 524.98px) {
      .translator_dictionary::after {
        display: none; } }
  .translator_dictionary__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px; }
    @media (max-width: 767.98px) {
      .translator_dictionary__row {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 30px; } }
  .translator_dictionary__text, .translator_dictionary__translate {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .translator_dictionary__text ::-webkit-scrollbar, .translator_dictionary__translate ::-webkit-scrollbar {
      width: 5px; }
    .translator_dictionary__text ::-webkit-scrollbar-track, .translator_dictionary__translate ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0); }
    .translator_dictionary__text ::-webkit-scrollbar-thumb, .translator_dictionary__translate ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #4a3931; }
    .translator_dictionary__text textarea,
    .translator_dictionary__text textarea::-webkit-input-placeholder, .translator_dictionary__translate textarea,
    .translator_dictionary__translate textarea::-webkit-input-placeholder {
      background: transparent;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22222;
      color: #000000; }
    .translator_dictionary__text textarea,
    .translator_dictionary__text textarea:-ms-input-placeholder, .translator_dictionary__translate textarea,
    .translator_dictionary__translate textarea:-ms-input-placeholder {
      background: transparent;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22222;
      color: #000000; }
    .translator_dictionary__text textarea,
    .translator_dictionary__text textarea::-ms-input-placeholder, .translator_dictionary__translate textarea,
    .translator_dictionary__translate textarea::-ms-input-placeholder {
      background: transparent;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22222;
      color: #000000; }
    .translator_dictionary__text textarea,
    .translator_dictionary__text textarea::placeholder, .translator_dictionary__translate textarea,
    .translator_dictionary__translate textarea::placeholder {
      background: transparent;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22222;
      color: #000000; }
    .translator_dictionary__text textarea, .translator_dictionary__translate textarea {
      resize: none;
      width: 100%;
      height: 348px; }
      @media (max-width: 767.98px) {
        .translator_dictionary__text textarea, .translator_dictionary__translate textarea {
          height: 150px; } }
  .translator_dictionary__text {
    margin-right: 10px; }
    .translator_dictionary__text textarea {
      padding: 0px 5px 0px 40px; }
    @media (max-width: 767.98px) {
      .translator_dictionary__text {
        margin-right: 0px;
        margin-bottom: 20px; }
        .translator_dictionary__text textarea {
          padding: 0px 20px; } }
  .translator_dictionary__translate {
    margin-right: 35px; }
    .translator_dictionary__translate textarea {
      padding: 0px 5px 0px 15px; }
    @media (max-width: 767.98px) {
      .translator_dictionary__translate {
        margin-right: 0px; }
        .translator_dictionary__translate textarea {
          padding: 0px 20px; } }
  .translator_dictionary__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .translator_dictionary__switch button {
      font-size: 20px;
      line-height: 1.25;
      color: #000000; }
      @media (min-width: 767.98px) {
        .translator_dictionary__switch button:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transition: all 0.1s ease-in;
          -o-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in; } }

/*------------------------------Dialogs------------------------------------*/
.dialog_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .dialog_left__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 72px;
    flex: 0 0 72px;
    -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
    margin-right: 15px; }
    .dialog_left__img img {
      max-width: 100%; }
    @media (max-width: 474.98px) {
      .dialog_left__img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px; } }
  .dialog_left__text {
    font-size: 22px;
    line-height: 1.22727;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-flex: 0;
    -ms-flex: 0 1 884px;
    flex: 0 1 884px;
    padding: 12px 14px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: relative; }
    @media (max-width: 767.98px) {
      .dialog_left__text {
        font-size: 18px; } }
    @media (max-width: 474.98px) {
      .dialog_left__text {
        font-size: 16px; } }
    .dialog_left__text::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -15px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
      clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
      width: 15px;
      height: 26px;
      background: rgba(0, 0, 0, 0.5); }

.dialog_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .dialog_right__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 72px;
    flex: 0 0 72px;
    -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
    margin-left: 15px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }
    .dialog_right__img img {
      max-width: 100%;
      width: 100%; }
    @media (max-width: 474.98px) {
      .dialog_right__img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px; } }
  .dialog_right__text {
    font-size: 22px;
    line-height: 1.22727;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-flex: 0;
    -ms-flex: 0 1 884px;
    flex: 0 1 884px;
    padding: 12px 14px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: relative; }
    @media (max-width: 767.98px) {
      .dialog_right__text {
        font-size: 18px; } }
    @media (max-width: 474.98px) {
      .dialog_right__text {
        font-size: 16px; } }
    .dialog_right__text::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -15px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      width: 15px;
      height: 26px;
      background: rgba(0, 0, 0, 0.5); }

/* 
   <div class="dialog_left">
      <div class="dialog_left__img"><img src="./icons/pixy.svg" alt="Pixy"></div>
      <div class="dialog_left__text">
         <span class="text_convert">
            text
         </span>
      </div>
   </div>
   
   <div class="dialog_right">
      <div class="dialog_right__text">
         <span class="text_convert">
            text
         </span>
      </div>
      <div class="dialog_right__img">
         <img src="./icons/pixy.svg" alt="Pixy">
      </div>
   </div>
*/
