.wrapper_books {
   background: url("../images/books/bg.jpg") center center no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.books {
   padding: 40px 0 100px 0;
   &__dialogs {
      & > *:not(:last-child) {
         margin-bottom: 40px;
         @media (max-width: 767.98px) {
            margin-bottom: 20px;
         }
      }
   }

   &__pixy_left {
      animation: 1.4s ease-in-out 0s infinite alternate pixy-fly;
   }

   &__treant_right {
      animation: 3s ease-in-out 0s infinite alternate tree-anim-flipped;
   }
}
.libbrary_books {
   margin-bottom: 40px;
   & > *:not(:last-child) {
      margin-bottom: 20px;
   }

   & > *:nth-child(odd) {
      & > * {
         @media (max-width: 767.98px) {
            justify-content: center;
         }
         @media (min-width: 767.98px) {
            &:hover > * {
               margin-left: calc(50% - 195px);
            }
         }
      }
      & > *:nth-child(odd) > * > *:first-child {
         background: url("../icons/magicTomb.svg") no-repeat;
         background-size: cover;
      }
      & > *:nth-child(even) > * > *:first-child {
         background: url("../icons/harryTomb.svg") no-repeat;
         background-size: cover;
      }
   }
   & > *:nth-child(even) {
      & > * {
         justify-content: end;
         @media (min-width: 767.98px) {
            &:hover > * {
               margin-right: calc(50% - 195px);
            }
         }
      }

      & > * {
         @media (max-width: 767.98px) {
            justify-content: center;
         }
      }

      & > *:nth-child(even) > * > *:first-child {
         background: url("../icons/magicTomb.svg") no-repeat;
         background-size: cover;
      }
      & > *:nth-child(odd) > * > *:first-child {
         background: url("../icons/harryTomb.svg") no-repeat;
         background-size: cover;
      }
   }

   @media (max-width: 767.98px) {
      & > *:nth-child(even) {
         & > *:nth-child(even) > * > *:first-child {
            background: url("../icons/magicTomb.svg") no-repeat;
            background-size: cover;
         }
         & > *:nth-child(odd) > * > *:first-child {
            background: url("../icons/harryTomb.svg") no-repeat;
            background-size: cover;
         }
      }
      & > *:nth-child(odd) {
         & > *:nth-child(even) > * > *:first-child {
            background: url("../icons/magicTomb.svg") no-repeat;
            background-size: cover;
         }
         & > *:nth-child(odd) > * > *:first-child {
            background: url("../icons/harryTomb.svg") no-repeat;
            background-size: cover;
         }
      }
   }

   // .libbrary_books__row

   &__row {
      display: flex;
      @media (max-width: 767.98px) {
         flex-direction: column;
      }
      @media (max-width: 767.98px) {
         & > *:not(:last-child) {
            margin-bottom: 20px;
         }
      }
   }

   // .libbrary_books__el

   &__el {
      flex: 0 0 50%;
      display: flex;
      &_inner {
         display: flex;
         align-items: center;
         background: rgba(0, 0, 0, 0.5);
         border-radius: 30px;
         padding: 14px 20px;
         max-width: 390px;
         width: 100%;
         transition: all 1s ease-in-out;
         @media (max-width: 999.98px) {
            max-width: 300px;
         }
         @media (max-width: 767.98px) {
            max-width: 100%;
         }
      }
   }

   // .libbrary_books__img

   &__img {
      filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.5));
      height: 92px;
      margin-right: 20px;
      flex: 0 0 60px;
   }

   // .libbrary_books__info

   &__info {
      & > *:not(:last-child) {
         margin-bottom: 5px;
      }
   }

   // .libbrary_books__name

   &__name {
      font-size: 18px;
      line-height: 22/18 * 1;
      color: #ffffff;
   }

   // .libbrary_books__author
   // .libbrary_books__genre
   // .libbrary_books__year
   &__author,
   &__year,
   &__genre {
      font-size: 14px;
      line-height: 17/14 * 1;
      color: #ffffff;
   }
}
.swiper_3 {
   overflow: hidden;
   margin-bottom: 40px;
   @media (max-width: 767.98px) {
      margin-bottom: 20px;
   }
   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #eef6ff;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
      font-size: 32px;
      user-select: none;
   }
   &__prev,
   &__next {
      padding: 0 5px;
   }
   .swiper-pagination {
      position: relative;
      bottom: inherit;
      width: auto;
   }
   .swiper-pagination-bullet-active,
   .swiper-pagination-bullet,
   .swiper-pagination-bullettext_convert {
      height: auto;
      width: auto;
      background: none;
      color: #eef6ff;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
      font-size: 28px;
      line-height: 45/36 * 1;
      cursor: url("../icons/cursorPointer.svg") 6 0, auto;
   }
   .swiper-pagination-bullet {
      opacity: 0.7;
   }
   .swiper-pagination-bullet-active {
      opacity: 1;
      transform: scale(1.1);
   }
   .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0;
      padding: 0 5px;
   }
}
