.header {
   position: relative;
   z-index: 50;
   width: 100%;
   padding: 24px 0;

   @media (max-width: 767.98px) {
      padding: 10px 0;
   }

   // .header__body

   &__body {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
   }

   // .header__logo

   &__logo {
      position: relative;
      width: 100px;
      height: 90px;

      @media (max-width: 767.98px) {
         width: 70px;
         height: 63px;
      }

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 120px;
         height: 85px;
      }

      img {
         max-width: 100%;
         width: 100%;
         filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
         transition: transform 0.1s ease-in;

         @media (min-width: 767.98px) {
            &:hover {
               transform: scale(1.1);
            }
         }
      }
   }

   // .header__menu

   &__menu {
      position: fixed;
      z-index: 10;
      overflow: auto;
      top: -200%;
      left: 0;
      transition-duration: 0.3s top;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      user-select: none;
      transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) top;
   }

   &__menu.active {
      top: 0;
      z-index: 10;
   }

   &__invisible {
      height: 140px;
      width: 100%;

      @media (max-width: 767.98px) {
         height: 85px;
      }
   }

   // .header__map

   &__map {
      position: relative;
      max-width: $mapWidth;
      max-height: $mapHeight;

      @media (max-width: 767.98px) {
         max-width: 0.86 * $mapWidth;
         max-height: 0.86 * $mapHeight;
      }

      @media (max-width: 659.98px) {
         max-width: 0.7 * $mapWidth;
         max-height: 0.7 * $mapHeight;
      }

      @media (max-width: 539.98px) {
         max-width: 0.55 * $mapWidth;
         max-height: 0.55 * $mapHeight;
      }

      @media (max-width: 424.98px) {
         max-width: 0.5 * $mapWidth;
         max-height: 0.5 * $mapHeight;
      }

      @media (max-width: 384.98px) {
         max-width: 0.4 * $mapWidth;
         max-height: 0.4 * $mapHeight;
      }
   }

   &__elements {
      position: relative;

      & > img {
         max-width: 100%;
         width: 100%;
         filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
      }
   }

   &__timer,
   &__books,
   &__home,
   &__dictionary,
   &__games,
   &__seamonster,
   &__shipLarge,
   &__ship {
      position: absolute;
   }

   &__timer,
   &__books,
   &__home,
   &__dictionary,
   &__games {
      position: absolute;

      @media (min-width: 767.98px) {
         &:hover {
            filter: drop-shadow(0px 0px 20px #ffffff);
         }
      }
   }

   // .header__timer

   &__timer {
      left: $timerLeft;
      top: $timerTop;
      width: $timerWidth;
      height: $timerHeight;

      @media (max-width: 767.98px) {
         left: 0.86 * $timerLeft;
         top: 0.86 * $timerTop;
         width: 0.86 * $timerWidth;
         height: 0.86 * $timerHeight;
      }

      @media (max-width: 659.98px) {
         left: 0.7 * $timerLeft;
         top: 0.7 * $timerTop;
         width: 0.7 * $timerWidth;
         height: 0.7 * $timerHeight;
      }

      @media (max-width: 539.98px) {
         left: 0.55 * $timerLeft;
         top: 0.55 * $timerTop;
         width: 0.55 * $timerWidth;
         height: 0.55 * $timerHeight;
      }

      @media (max-width: 424.98px) {
         left: 0.5 * $timerLeft;
         top: 0.5 * $timerTop;
         width: 0.5 * $timerWidth;
         height: 0.5 * $timerHeight;
      }

      @media (max-width: 384.98px) {
         left: 0.4 * $timerLeft;
         top: 0.4 * $timerTop;
         width: 0.4 * $timerWidth;
         height: 0.4 * $timerHeight;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .header__books

   &__books {
      right: $booksRight;
      top: $booksTop;
      width: $booksWidth;
      height: $booksHeight;

      @media (max-width: 767.98px) {
         right: 0.86 * $booksRight;
         top: 0.86 * $booksTop;
         width: 0.86 * $booksWidth;
         height: 0.86 * $booksHeight;
      }

      @media (max-width: 659.98px) {
         right: 0.7 * $booksRight;
         top: 0.7 * $booksTop;
         width: 0.7 * $booksWidth;
         height: 0.7 * $booksHeight;
      }

      @media (max-width: 539.98px) {
         right: 0.55 * $booksRight;
         top: 0.55 * $booksTop;
         width: 0.55 * $booksWidth;
         height: 0.55 * $booksHeight;
      }

      @media (max-width: 424.98px) {
         right: 0.5 * $booksRight;
         top: 0.5 * $booksTop;
         width: 0.5 * $booksWidth;
         height: 0.5 * $booksHeight;
      }

      @media (max-width: 384.98px) {
         right: 0.4 * $booksRight;
         top: 0.4 * $booksTop;
         width: 0.4 * $booksWidth;
         height: 0.4 * $booksHeight;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .header__home

   &__home {
      right: $homeRight;
      bottom: $homeBottom;
      width: $homeWidth;
      height: $homeHeight;

      @media (max-width: 767.98px) {
         right: 0.86 * $homeRight;
         bottom: 0.86 * $homeBottom;
         width: 0.86 * $homeWidth;
         height: 0.86 * $homeHeight;
      }

      @media (max-width: 659.98px) {
         right: 0.7 * $homeRight;
         bottom: 0.7 * $homeBottom;
         width: 0.7 * $homeWidth;
         height: 0.7 * $homeHeight;
      }

      @media (max-width: 539.98px) {
         right: 0.55 * $homeRight;
         bottom: 0.55 * $homeBottom;
         width: 0.55 * $homeWidth;
         height: 0.55 * $homeHeight;
      }

      @media (max-width: 424.98px) {
         right: 0.5 * $homeRight;
         bottom: 0.5 * $homeBottom;
         width: 0.5 * $homeWidth;
         height: 0.5 * $homeHeight;
      }

      @media (max-width: 384.98px) {
         right: 0.4 * $homeRight;
         bottom: 0.4 * $homeBottom;
         width: 0.4 * $homeWidth;
         height: 0.4 * $homeHeight;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .header__dictionary

   &__dictionary {
      left: $dictionaryLeft;
      bottom: $dictionaryBottom;
      width: $dictionaryWidth;
      height: $dictionaryHeight;

      @media (max-width: 767.98px) {
         left: 0.86 * $dictionaryLeft;
         bottom: 0.86 * $dictionaryBottom;
         width: 0.86 * $dictionaryWidth;
         height: 0.86 * $dictionaryHeight;
      }

      @media (max-width: 659.98px) {
         left: 0.7 * $dictionaryLeft;
         bottom: 0.7 * $dictionaryBottom;
         width: 0.7 * $dictionaryWidth;
         height: 0.7 * $dictionaryHeight;
      }

      @media (max-width: 539.98px) {
         left: 0.55 * $dictionaryLeft;
         bottom: 0.55 * $dictionaryBottom;
         width: 0.55 * $dictionaryWidth;
         height: 0.55 * $dictionaryHeight;
      }

      @media (max-width: 424.98px) {
         left: 0.5 * $dictionaryLeft;
         bottom: 0.5 * $dictionaryBottom;
         width: 0.5 * $dictionaryWidth;
         height: 0.5 * $dictionaryHeight;
      }

      @media (max-width: 384.98px) {
         left: 0.4 * $dictionaryLeft;
         bottom: 0.4 * $dictionaryBottom;
         width: 0.4 * $dictionaryWidth;
         height: 0.4 * $dictionaryHeight;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .header__games

   &__games {
      left: $gamesLeft;
      bottom: $gamesBottom;
      width: $gamesWidth;
      height: $gamesHeight;

      @media (max-width: 767.98px) {
         left: 0.86 * $gamesLeft;
         bottom: 0.86 * $gamesBottom;
         width: 0.86 * $gamesWidth;
         height: 0.86 * $gamesHeight;
      }

      @media (max-width: 659.98px) {
         left: 0.7 * $gamesLeft;
         bottom: 0.7 * $gamesBottom;
         width: 0.7 * $gamesWidth;
         height: 0.7 * $gamesHeight;
      }

      @media (max-width: 539.98px) {
         left: 0.55 * $gamesLeft;
         bottom: 0.55 * $gamesBottom;
         width: 0.55 * $gamesWidth;
         height: 0.55 * $gamesHeight;
      }

      @media (max-width: 424.98px) {
         left: 0.5 * $gamesLeft;
         bottom: 0.5 * $gamesBottom;
         width: 0.5 * $gamesWidth;
         height: 0.5 * $gamesHeight;
      }

      @media (max-width: 384.98px) {
         left: 0.4 * $gamesLeft;
         bottom: 0.4 * $gamesBottom;
         width: 0.4 * $gamesWidth;
         height: 0.4 * $gamesHeight;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .header__ship

   &__ship {
      left: $shipLeft;
      bottom: $shipBottom;
      width: $shipWidth;
      height: $shipHeight;

      @media (max-width: 767.98px) {
         left: 0.86 * $shipLeft;
         bottom: 0.86 * $shipBottom;
         width: 0.86 * $shipWidth;
         height: 0.86 * $shipHeight;
      }

      @media (max-width: 659.98px) {
         left: 0.7 * $shipLeft;
         bottom: 0.7 * $shipBottom;
         width: 0.7 * $shipWidth;
         height: 0.7 * $shipHeight;
      }

      @media (max-width: 539.98px) {
         left: 0.55 * $shipLeft;
         bottom: 0.55 * $shipBottom;
         width: 0.55 * $shipWidth;
         height: 0.55 * $shipHeight;
      }

      @media (max-width: 424.98px) {
         left: 0.5 * $shipLeft;
         bottom: 0.5 * $shipBottom;
         width: 0.5 * $shipWidth;
         height: 0.5 * $shipHeight;
      }

      @media (max-width: 384.98px) {
         left: 0.4 * $shipLeft;
         bottom: 0.4 * $shipBottom;
         width: 0.4 * $shipWidth;
         height: 0.4 * $shipHeight;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .header__shipLarge

   &__shipLarge {
      left: $shipLargeLeft;
      top: $shipLargeTop;
      width: $shipLargeWidth;
      height: $shipLargeHeight;

      @media (max-width: 767.98px) {
         left: 0.86 * $shipLargeLeft;
         top: 0.86 * $shipLargeTop;
         width: 0.86 * $shipLargeWidth;
         height: 0.86 * $shipLargeHeight;
      }

      @media (max-width: 659.98px) {
         left: 0.7 * $shipLargeLeft;
         top: 0.7 * $shipLargeTop;
         width: 0.7 * $shipLargeWidth;
         height: 0.7 * $shipLargeHeight;
      }

      @media (max-width: 539.98px) {
         left: 0.55 * $shipLargeLeft;
         top: 0.55 * $shipLargeTop;
         width: 0.55 * $shipLargeWidth;
         height: 0.55 * $shipLargeHeight;
      }

      @media (max-width: 424.98px) {
         left: 0.5 * $shipLargeLeft;
         top: 0.5 * $shipLargeTop;
         width: 0.5 * $shipLargeWidth;
         height: 0.5 * $shipLargeHeight;
      }

      @media (max-width: 384.98px) {
         left: 0.4 * $shipLargeLeft;
         top: 0.4 * $shipLargeTop;
         width: 0.4 * $shipLargeWidth;
         height: 0.4 * $shipLargeHeight;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .header__seamonster

   &__seamonster {
      right: $seamonsterRight;
      bottom: $seamonsterBottom;
      width: $seamonsterWidth;
      height: $seamonsterHeight;

      @media (max-width: 767.98px) {
         right: 0.86 * $seamonsterRight;
         bottom: 0.86 * $seamonsterBottom;
         width: 0.86 * $seamonsterWidth;
         height: 0.86 * $seamonsterHeight;
      }

      @media (max-width: 659.98px) {
         right: 0.7 * $seamonsterRight;
         bottom: 0.7 * $seamonsterBottom;
         width: 0.7 * $seamonsterWidth;
         height: 0.7 * $seamonsterHeight;
      }

      @media (max-width: 539.98px) {
         right: 0.55 * $seamonsterRight;
         bottom: 0.55 * $seamonsterBottom;
         width: 0.55 * $seamonsterWidth;
         height: 0.55 * $seamonsterHeight;
      }

      @media (max-width: 424.98px) {
         right: 0.5 * $seamonsterRight;
         bottom: 0.5 * $seamonsterBottom;
         width: 0.5 * $seamonsterWidth;
         height: 0.5 * $seamonsterHeight;
      }

      @media (max-width: 384.98px) {
         right: 0.4 * $seamonsterRight;
         bottom: 0.4 * $seamonsterBottom;
         width: 0.4 * $seamonsterWidth;
         height: 0.4 * $seamonsterHeight;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .header__nav

   &__nav {
      display: flex;
      align-items: center;
   }

   // .header__burger

   &__burger {
      display: block;
      width: 86px;
      position: relative;
      margin-right: 30px;
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));

      @media (max-width: 767.98px) {
         width: 65px;
      }

      @media (max-width: 374.98px) {
         margin-right: 20px;
      }

      img {
         max-width: 100%;
         transition: transform 0.1s ease-in;
         position: relative;
         z-index: 51;
         &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90px;
            height: 85px;
         }
         @media (min-width: 767.98px) {
            &:hover {
               transform: scale(1.1);
            }
         }
      }
   }

   // .header__user

   &__user {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 18px;
      @media (min-width: 767.98px) {
         &:hover {
            transform: scale(0.9);

            transition: transform 0.1s ease-in;

            img {
               transform: scale(1.4);
               transition: transform 0.1s ease-in;
            }
         }
      }

      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         border-radius: 50%;
         width: 75px;
         height: 75px;
         background: rgba(0, 0, 0, 0.5);
         z-index: -1;
         @media (max-width: 767.98px) {
            width: 65px;
            height: 65px;
         }
      }
      &::after {
         content: "";
         position: absolute;
         z-index: -1;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 80px;
         height: 85px;
      }

      img {
         max-height: 60px;
         height: 100%;

         @media (max-width: 767.98px) {
            max-height: 48px;
         }
      }
   }
}
.header__controls {
   position: absolute;
   top: 75px;
   left: 50%;
   transform: translateX(-50%);
   & > * {
      display: none;
   }
   @media (max-width: 767.98px) {
      top: 65px;
   }
}
.user_header {
   &__music,
   &__logout {
      position: relative;
      width: 75px;
      z-index: 1;
      font-size: 18px;
      line-height: 15/12 * 1;
      color: #819fea;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
      &:hover {
         transform: scale(1.1);
      }
   }

   // .user_header__music

   &__music {
      margin-bottom: 10px;
   }

   // .user_header__logout

   &__logout {
   }
}

.header__user.active {
   transition: all 3s ease-in;
   .header__controls {
      & > * {
         display: block;
      }
   }
   @media (min-width: 767.98px) {
      &:hover {
         transform: scale(1);

         transition: transform 0.1s ease-in;

         img {
            transform: scale(1);
            transition: transform 0.1s ease-in;
         }
      }
   }
   &::before {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 10px;
      width: 85px;
      height: 140px;
      background-color: #333345;
      border: 4px solid #819fea;
   }
}

body.lock {
   overflow: hidden;
}

.header__burger.active {
   img {
      transform: scale(1.1);
   }
}
