.wrapper_home {
   background: url('../images/homeImages/bg.jpg') top right no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.swiper__next_wrapper {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

.swiper__next,
.swiper__prev {
   filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.5));
}

.home {

   // .home__greetings

   &__greetings {
      margin: 40px 0;

      @media (max-width: 767.98px) {
         margin: 20px 0;
      }
   }

   //.home__pixy_1/2/3

   &__pixy_1,
   &__pixy_2 {
      margin-bottom: 40px;

      @media (max-width: 767.98px) {
         margin-bottom: 20px;
      }
   }

   &__pixy_3 {
      margin-bottom: 100px;

      @media (max-width: 767.98px) {
         margin-bottom: 50px;
      }
   }

   // .home__pixy_left

   &__pixy_left {
      animation: 1.4s ease-in-out 0s infinite alternate pixy-fly;
   }

   // .home__pixy_right

   &__pixy_right {
      animation: 1.4s ease-in-out 0s infinite alternate pixy-fly-flipped;
   }

   // .home__logo

   &__logo {
      margin: 0 auto 40px auto;
      width: 240px;
      filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.7));

      img {
         max-width: 100%;
         width: 100%;
      }

      @media (max-width: 767.98px) {
         margin: 0 auto 20px auto;
         width: 160px;
      }
   }

   // .home__map

   &__map {
      filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.7));
      width: 256px;
      margin: 0 auto 40px auto;

      @media (max-width: 767.98px) {
         width: 150px;
         margin: 0 auto 20px auto;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }
}

// animation: 1.4s ease-in-out 0s infinite alternate pixy-fly;
@keyframes pixy-fly {
   0% {
      transform: translateY(-8px);
   }

   100% {
      transform: translateY(8px);
   }
}

// animation: 1.4s ease-in-out 0s infinite alternate pixy-fly-flipped;
@keyframes pixy-fly-flipped {
   0% {
      transform: translateY(-8px) scaleX(-1);
   }

   100% {
      transform: translateY(8px) scaleX(-1);
   }
}

.slide_home {
   margin-bottom: 40px;
   // .slide_home__image

   @media (max-width: 767.98px) {
      margin-bottom: 20px;  
   }

   &__image {

      max-width: 600px;
      width: 100%;
      margin: 0 auto 40px auto;

      @media (max-width: 767.98px) {
         margin: 0 auto 20px auto;
      }

      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .slide_home__dialog

   &__dialog {}
}

.swiper_2 {
   overflow: hidden;
}