@import "null_style.scss";

/*-------------------------------Fonts-----------------------------------*/
@import "fonts.scss";

/*---------------------------------Vars----------------------------------*/
@import "vars.scss";

/*----------------------------------Music-------------------------------*/

.music {
   opacity: 0;
   position: absolute;
}

/*---------------------------------Selection------------------------------*/
*::selection {
   background: #224281;
}
/*--------------------------------Cursor----------------------------------*/

body {
   cursor: url("../icons/cursor.svg"), auto;
}

input,
a,
button,
.cursorPointer {
   cursor: url("../icons/cursor-pointer.svg") 6 0, auto;
}

/*---------------------------Loading-----------------------------------*/

.container {
   // display: none;
   opacity: 0;
}

#loading {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);

   .loading__text {
      font-size: 32px;
      color: $mainColor;
   }

   .loading__inner {
      text-align: center;
   }

   img {
      animation: 1.2s linear 0s infinite alternate sword-loading;
      margin-bottom: 10px;
   }
}

@keyframes sword-loading {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/*--------------------------Content wrappers------------------------------*/

body {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20/16 * 1;
   color: $mainColor;
   height: 100vh;
}

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 $paddingContainer + px;
}

.page {
   flex: 1 1 100%;
}

/*-----------------------------Scroll-bar---------------------------------*/

::-webkit-scrollbar {
   width: 7px;
}

::-webkit-scrollbar-track {
   background: rgba(0, 0, 0, 0);
   background: #90aaec;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: #cedeff;
}

/*-----------------------------Custom text----------------------------------*/
.text_convert {
   display: inline-block;
   position: relative;
}

.text_stroke {
   position: relative;
   // color: $mainColor;
   z-index: 1;
}

.text_stroke_bg {
   position: absolute;
   left: 0;
   top: 0;
   -webkit-text-stroke-width: 0.125em;
   -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
   text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

/*------------------------------Header------------------------------------*/
@import "header.scss";

/*------------------------------Log/Reg------------------------------------*/
@import "register.scss";

/*-------------------------------Home------------------------------------*/
@import "home.scss";

/*----------------------------Dictionary------------------------------------*/
@import "dictionary.scss";

/*-------------------------------Books------------------------------------*/
@import "books.scss";

/*-------------------------------Timer------------------------------------*/
@import "timer.scss";

/*-------------------------------Games------------------------------------*/
@import "games.scss";

/*------------------------------Dialogs------------------------------------*/
.dialog_left {
   display: flex;
   align-items: center;
   justify-content: center;
   // .dialog_left__img

   &__img {
      flex: 0 0 72px;
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      margin-right: 15px;

      img {
         max-width: 100%;
      }

      @media (max-width: 474.98px) {
         flex: 0 0 60px;
      }
   }

   // .dialog_left__text

   &__text {
      font-size: 22px;
      line-height: 27/22 * 1;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
      flex: 0 1 884px;
      padding: 12px 14px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      position: relative;

      @media (max-width: 767.98px) {
         font-size: 18px;
      }

      @media (max-width: 474.98px) {
         font-size: 16px;
      }

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: -15px;
         transform: translateY(-50%);
         clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
         width: 15px;
         height: 26px;
         background: rgba(0, 0, 0, 0.5);
         @media (max-width: 767.98px) {
            height: 20px;
         }
      }
   }
}

.dialog_right {
   display: flex;
   align-items: center;
   justify-content: center;

   // .dialog_right__img

   &__img {
      flex: 0 0 72px;
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      margin-left: 15px;
      transform: scaleX(-1);

      img {
         max-width: 100%;
         width: 100%;
      }

      @media (max-width: 474.98px) {
         flex: 0 0 60px;
      }
   }

   // .dialog_right__text

   &__text {
      font-size: 22px;
      line-height: 27/22 * 1;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
      flex: 0 1 884px;
      padding: 12px 14px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      position: relative;

      @media (max-width: 767.98px) {
         font-size: 18px;
      }

      @media (max-width: 474.98px) {
         font-size: 16px;
      }

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         right: -15px;
         transform: translateY(-50%);
         clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
         width: 15px;
         height: 26px;
         background: rgba(0, 0, 0, 0.5);
         @media (max-width: 767.98px) {
            height: 20px;
         }
      }
   }
}

/* 
   <div class="dialog_left">
      <div class="dialog_left__img"><img src="./icons/pixy.svg" alt="Pixy"></div>
      <div class="dialog_left__text">
         <span class="text_convert">
            text
         </span>
      </div>
   </div>
   
   <div class="dialog_right">
      <div class="dialog_right__text">
         <span class="text_convert">
            text
         </span>
      </div>
      <div class="dialog_right__img">
         <img src="./icons/pixy.svg" alt="Pixy">
      </div>
   </div>
*/

/*-----------------------------Animations-------------------------------*/
// animation: 1.4s ease-in-out 0s infinite alternate pixy-fly;
@keyframes pixy-fly {
   0% {
      transform: translateY(-8px);
   }

   100% {
      transform: translateY(8px);
   }
}

// animation: 1.4s ease-in-out 0s infinite alternate pixy-fly-flipped;
@keyframes pixy-fly-flipped {
   0% {
      transform: translateY(-8px) scaleX(-1);
   }

   100% {
      transform: translateY(8px) scaleX(-1);
   }
}

// animation: 0.8s ease-in-out 0s infinite alternate centaur-anim;
@keyframes centaur-anim {
   0% {
      transform: rotate(-3deg);
   }

   100% {
      transform: rotate(3deg);
   }
}

// animation: 3s ease-in-out 0s infinite alternate tree-anim;
@keyframes tree-anim {
   0% {
      transform: rotate(-2deg);
   }

   100% {
      transform: rotate(2deg);
   }
}

// animation: 3s ease-in-out 0s infinite alternate tree-anim-flipped;
@keyframes tree-anim-flipped {
   0% {
      transform: rotate(-2deg) scaleX(-1);
   }

   100% {
      transform: rotate(2deg) scaleX(-1);
   }
}

// animation: 2.5s ease-in-out 0s infinite alternate spider-anim;
@keyframes spider-anim {
   0% {
      transform: translateX(-4px);
   }
   25% {
      transform: translateX(-3px) rotate(-1deg);
   }
   50% {
      transform: translateX(-2px) rotate(1deg);
   }
   75% {
      transform: translateX(-1px) rotate(-1deg);
   }
   100% {
      transform: translateX(0px) rotate(1deg);
   }
}

// animation: 2.5s ease-in-out 0s infinite alternate spider-anim-flipped;
@keyframes spider-anim-flipped {
   0% {
      transform: translateX(4px) scaleX(-1);
   }
   25% {
      transform: translateX(3px) rotate(-1deg) scaleX(-1);
   }
   50% {
      transform: translateX(2px) rotate(1deg) scaleX(-1);
   }
   75% {
      transform: translateX(1px) rotate(-1deg) scaleX(-1);
   }
   100% {
      transform: translateX(0px) rotate(1deg) scaleX(-1);
   }
}

// animation: 3s ease-in-out 0s infinite alternate dragon-anim;
@keyframes dragon-anim {
   0% {
      transform: rotate(-7deg);
   }

   100% {
      transform: rotate(7deg);
   }
}
// animation: 3s ease-in-out 0s infinite alternate dragon-anim-flipped;
@keyframes dragon-anim-flipped {
   0% {
      transform: rotate(-7deg) scaleX(-1);
   }

   100% {
      transform: rotate(7deg) scaleX(-1);
   }
}