@import "null_style.scss";

/*-------------------------------Fonts-----------------------------------*/
@import "fonts.scss";

/*---------------------------------Vars----------------------------------*/
@import "vars.scss";

/*----------------------------------Music-------------------------------*/

.music {
   opacity: 0;
   position: absolute;
}

/*---------------------------------Selection------------------------------*/
*::selection {
   background: #224281;
}
img {
   user-select: none;
}
/*--------------------------------Tooltip----------------------------------*/
.tooltip {
   position: relative;
   display: inline-block;
}

.tooltip .tooltiptext {
   visibility: hidden;
   background-color: #3f547d;
   color: #fff;
   text-align: center;
   padding: 5px;
   border-radius: 6px;
   position: absolute;
   z-index: 1;
   font-size: 18px;
   filter: drop-shadow(0px 0px 15px #24365a);
   top: 50%;
   transform: translateX(10px) translateY(-50%);
   min-width: 100px;
   font-family: $fontFamily;
}

@media (min-width: 767.98px) {
   .tooltip:hover .tooltiptext {
      visibility: visible;
   }
}

.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 100%;
   transform: translateY(-50%);
   border-width: 10px;
   border-style: solid;
   border-color: transparent #3f547d transparent transparent;
}
/*--------------------------------Cursor----------------------------------*/

body {
   cursor: url("../icons/cursor.svg"), auto;
}

input,
a,
button,
.cursorPointer {
   cursor: url("../icons/cursor-pointer.svg") 6 0, auto;
}

/*--------------------------------input textarea----------------------------------*/
input,
textarea {
   font-family: "Metal Mania", "Poiret One";
}

/*---------------------------Swiper-----------------------------------*/
.swiper-notification {
   display: none;
}

/*--------------------------Content wrappers------------------------------*/

body {
   font-family: "Metal Mania", "Poiret One";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20/16 * 1;
   color: $mainColor;
   height: 100vh;
}

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 $paddingContainer + px;
}

.page {
   flex: 1 1 100%;
}

/*-----------------------------Scroll-bar---------------------------------*/

// ::-webkit-scrollbar {
//    width: 7px;
// }

// ::-webkit-scrollbar-track {
//    background: rgba(0, 0, 0, 0);
//    background: #90aaec;
// }

// ::-webkit-scrollbar-thumb {
//    border-radius: 10px;
//    background: #cedeff;
// }
::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-track {
   background: #000000b2;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: linear-gradient(180deg, #808180 0%, #1d1e1e 100%);
}

/*-----------------------------DB----------------------------------*/
.db-title {
   font-family: "Metal Mania", "Poiret One";
   margin-bottom: 30px;
   font-size: 26px;
   line-height: 40/26 * 1;
   color: #eef6ff;
   text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.7);
   text-align: center;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding: 0 100px;
   @media (max-width: 767.98px) {
      font-size: 22px;
   }
   @media (max-width: 649.98px) {
      padding: 0 80px;
   }
   @media (max-width: 424.98px) {
      padding: 0 65px;
   }
}
.db__cross {
   position: absolute;
   filter: drop-shadow(0px 0px 10px white);
   right: 50px;
   top: 30px;
   @media (max-width: 649.98px) {
      right: 30px;
   }
   @media (max-width: 424.98px) {
      right: 15px;
   }
   @media (min-width: 767.98px) {
      &:hover {
         transform: scale(1.1);
         transition: transform 0.1s linear;
      }
   }
   img {
      max-width: 100%;
      width: 100%;
   }
}

.db__nav {
   display: flex;
   gap: 20px;
}

// .db__edit .db__delete .db__edit
.db__save,
.db__edit,
.db__delete {
   font-size: 20px;
   line-height: 25/20 * 1;
   color: #b7b8b8;
   text-shadow: 0px 0px 15px #000000;
   @media (min-width: 767.98px) {
      &:hover {
         color: #e0e0e0;
         transform: scale(1.1);
         transition: all 0.15s linear;
      }
   }
   @media (max-width: 424.98px) {
      font-size: 18px;
   }
}

.db__input {
   background: rgba(56, 56, 56, 0.5);
   box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.5);
   border-radius: 21px;
   font-size: 20px;
   line-height: 25/20 * 1;
   color: #bfc0c0;
   text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
   padding: 10px 15px;
   @media (min-width: 767.98px) {
      &:hover {
         filter: drop-shadow(0px 0px 0px #e0e0e03b);
         transition: all 0.1s linear;
      }
   }
   &::placeholder {
      font-size: 20px;
      line-height: 25/20 * 1;
      color: #bfc0c0;
      text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
   }
}
.db__button {
   background: rgba(56, 56, 56, 0.5);
   box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.5);
   border-radius: 21px;
   padding: 12px 12px;
   @media (min-width: 767.98px) {
      &:hover {
         filter: drop-shadow(0px 0px 0px #e0e0e03b);
         transition: all 0.1s linear;
      }
   }
}
.db-word,
.db-folder {
   padding: 10px 50px;
   @media (min-width: 767.98px) {
      &:hover {
         background-color: #ffffff14;
         transition: all 0.1s linear;
      }
   }
   @media (max-width: 649.98px) {
      padding: 10px 30px;
   }
   @media (max-width: 424.98px) {
      padding: 10px 15px;
   }
   &__nav {
      flex: 0 0 57px;
      margin-left: auto;
      @media (max-width: 767.98px) {
         flex-direction: column;
         gap: 0px;
         & > * {
            padding: 5px 0;
         }
      }
   }
}
.db-words,
.db-folders,
.games-settings {
   position: relative;
   margin: auto;
   max-width: 750px;
   width: 100%;
   max-height: 610px;
   height: 100%;
   background: url("../images/main/db-bg.jpg") no-repeat center;
   background-size: cover;
   box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   padding: 30px 0px;
   overflow-y: auto;
   // .db-folders__wrapper .db-words__wrapper

   &__wrapper {
      display: none;
      // display: flex;
      position: absolute;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      padding: 15px;
      &.active-modal {
         display: flex;
      }
   }
}
.db-folders {
   padding: 100px 0px 30px 0px;

   // .db-folders__form

   &__form {
      padding: 0 50px;
      display: flex;
      gap: 10px;
      @media (max-width: 649.98px) {
         padding: 0 30px;
      }
      @media (max-width: 424.98px) {
         padding: 0 15px;
      }
   }

   // .db-folders__input

   &__input {
      width: 100%;
   }

   // .db-folders__container

   &__container {
      height: 410px;
      overflow-y: scroll;
      margin-bottom: 20px;
   }
}
.db-folder {
   display: flex;
   align-items: center;
   gap: 10px;

   // .db-folder__image

   &__image {
      flex: 0 0 32px;
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .db-folder__title

   &__title {
      flex: 1 1 auto;
      font-size: 20px;
      line-height: 25/20 * 1;
      color: #eef6ff;
      text-shadow: 0px 0px 15px #000000;
      overflow-wrap: anywhere;
      font-family: "Metal Mania", "Poiret One";

      @media (max-width: 424.98px) {
         font-size: 18px;
      }
   }

   // .db-folder__nav

   &__nav {
      flex: 0 0 110px;
      margin-left: auto;
   }

   // .db-folder__save
   &__save {
      display: none;
      flex: 1 0 auto;
      text-align: end;
   }

   // .db-folder__textarea
   &__textarea {
      flex: 1 1 auto;
      font-size: 20px;
      line-height: 25/20 * 1;
      color: #eef6ff;
      overflow-wrap: anywhere;
      background-color: transparent;
      resize: none;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
      @media (max-width: 424.98px) {
         font-size: 18px;
      }
   }
}

.db-words {
   position: relative;

   // .db-words__container

   &__container {
      height: 410px;
      overflow-y: scroll;
      margin-bottom: 20px;
   }

   // .db-words__form

   &__form {
      display: flex;
      gap: 14px;
      padding: 0 50px;
      @media (max-width: 649.98px) {
         padding: 0 30px;
      }
      @media (max-width: 424.98px) {
         padding: 0 15px;
      }
   }

   // .db-words__translation-input .db-words__word-input

   &__translation-input,
   &__word-input {
      width: 100%;
   }

   // .db-words__button

   &__button {
      flex: 0 0 45px;
   }
}
.db-word {
   display: flex;
   align-items: center;
   gap: 10px;

   // .db-word__image

   &__image {
      flex: 0 0 18px;
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      img {
         max-width: 100%;
         width: 100%;
      }
   }

   // .db-word__info

   &__info {
      display: flex;
      align-items: center;
      gap: 20px;
      flex: 1 1 auto;
      align-items: stretch;
      @media (max-width: 767.98px) {
         display: block;
         gap: 10px;
         & > *:not(:last-child) {
            margin-bottom: 10px;
         }
      }
   }

   // .db-word__word

   &__word {
      flex: 1 1 50%;
      overflow-wrap: anywhere;
      font-size: 20px;
      line-height: 23/20 * 1;
      color: #eef6ff; 
      @media (max-width: 424.98px) {
         font-size: 18px;
      }
   }

   // .db-word__translation

   &__translation {
      flex: 1 1 50%;

      overflow-wrap: anywhere;
      font-family: "Poiret One";
      font-size: 20px;
      line-height: 23/20 * 1;
      color: #eef6ff;
      @media (max-width: 424.98px) {
         font-size: 18px;
      }
   }
   // .db-word__nav

   &__nav {
      flex: 0 0 110px;
      margin-left: auto;
   }

   // .db-word__save
   &__save {
      display: none;
      flex: 1 0 auto;
      text-align: end;
   }

   // .db-word__word-textarea .db-word__translation-textarea
   &__word-textarea,
   &__translation-textarea {
      flex-grow: 1;
      flex-shrink: 1;
      overflow-wrap: anywhere;
      font-size: 20px;
      line-height: 23/20 * 1;
      color: #eef6ff;
      background-color: transparent;
      resize: none;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
      @media (max-width: 767.98px) {
         width: 100%;
      }
      @media (max-width: 424.98px) {
         font-size: 18px;
      }
   }
   &__translation-textarea {
      font-family: "Poiret One";
   }
}
/*-----------------------------Game Settings----------------------------------*/
.games-settings {
   // .games-settings__wrapper

   &__wrapper {
   }

   // .games-settings__folders

   &__folders {
      height: 460px;
      & > .db-folder {
         opacity: 0.5;
         &.active-folder {
            opacity: 1;
         }
      }
   }
}
/*-----------------------------Custom text----------------------------------*/
.text_convert {
   display: inline-block;
   position: relative;
}

.text_stroke {
   position: relative;
   // color: $mainColor;
   z-index: 1;
}

.text_stroke_bg {
   position: absolute;
   left: 0;
   top: 0;
   -webkit-text-stroke-width: 0.125em;
   -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
   text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

/*------------------------------Header------------------------------------*/
@import "header.scss";

/*------------------------------Log/Reg------------------------------------*/
@import "register.scss";

/*-------------------------------Home------------------------------------*/
@import "home.scss";

/*----------------------------Dictionary------------------------------------*/
@import "translator.scss";

/*-------------------------------Books------------------------------------*/
@import "books.scss";

/*-------------------------------Timer------------------------------------*/
@import "timer.scss";

/*-------------------------------Games------------------------------------*/
@import "games.scss";

/*------------------------------Dialogs------------------------------------*/
.dialog_left {
   display: flex;
   align-items: center;
   justify-content: center;
   user-select: none;
   // .dialog_left__img

   &__img {
      flex: 0 0 72px;
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      margin-right: 15px;

      img {
         max-width: 100%;
      }

      @media (max-width: 474.98px) {
         flex: 0 0 60px;
      }
   }

   // .dialog_left__text

   &__text {
      font-size: 22px;
      line-height: 27/22 * 1;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
      flex: 0 1 884px;
      padding: 12px 14px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      position: relative;

      @media (max-width: 767.98px) {
         font-size: 18px;
      }

      @media (max-width: 474.98px) {
         font-size: 16px;
      }

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: -15px;
         transform: translateY(-50%);
         clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
         width: 15px;
         height: 26px;
         background: rgba(0, 0, 0, 0.5);
         @media (max-width: 767.98px) {
            height: 20px;
         }
      }
   }
}

.dialog_right {
   display: flex;
   align-items: center;
   justify-content: center;
   user-select: none;
   // .dialog_right__img

   &__img {
      flex: 0 0 72px;
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
      margin-left: 15px;
      transform: scaleX(-1);

      img {
         max-width: 100%;
         width: 100%;
      }

      @media (max-width: 474.98px) {
         flex: 0 0 60px;
      }
   }

   // .dialog_right__text

   &__text {
      font-size: 22px;
      line-height: 27/22 * 1;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
      flex: 0 1 884px;
      padding: 12px 14px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      position: relative;

      @media (max-width: 767.98px) {
         font-size: 18px;
      }

      @media (max-width: 474.98px) {
         font-size: 16px;
      }

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         right: -15px;
         transform: translateY(-50%);
         clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
         width: 15px;
         height: 26px;
         background: rgba(0, 0, 0, 0.5);
         @media (max-width: 767.98px) {
            height: 20px;
         }
      }
   }
}

/* 
   <div class="dialog_left">
      <div class="dialog_left__img"><img src="./icons/pixy.svg" alt="Pixy"></div>
      <div class="dialog_left__text">
         <span class="text_convert">
            text
         </span>
      </div>
   </div>
   
   <div class="dialog_right">
      <div class="dialog_right__text">
         <span class="text_convert">
            text
         </span>
      </div>
      <div class="dialog_right__img">
         <img src="./icons/pixy.svg" alt="Pixy">
      </div>
   </div>
*/

/*-----------------------------Animations-------------------------------*/
// animation: 1.4s ease-in-out 0s infinite alternate pixy-fly;
@keyframes pixy-fly {
   0% {
      transform: translateY(-8px);
   }

   100% {
      transform: translateY(8px);
   }
}

// animation: 1.4s ease-in-out 0s infinite alternate pixy-fly-flipped;
@keyframes pixy-fly-flipped {
   0% {
      transform: translateY(-8px) scaleX(-1);
   }

   100% {
      transform: translateY(8px) scaleX(-1);
   }
}

// animation: 0.8s ease-in-out 0s infinite alternate centaur-anim;
@keyframes centaur-anim {
   0% {
      transform: rotate(-3deg);
   }

   100% {
      transform: rotate(3deg);
   }
}

// animation: 3s ease-in-out 0s infinite alternate tree-anim;
@keyframes tree-anim {
   0% {
      transform: rotate(-2deg);
   }

   100% {
      transform: rotate(2deg);
   }
}

// animation: 3s ease-in-out 0s infinite alternate tree-anim-flipped;
@keyframes tree-anim-flipped {
   0% {
      transform: rotate(-2deg) scaleX(-1);
   }

   100% {
      transform: rotate(2deg) scaleX(-1);
   }
}

// animation: 2.5s ease-in-out 0s infinite alternate spider-anim;
@keyframes spider-anim {
   0% {
      transform: translateX(-4px);
   }
   25% {
      transform: translateX(-3px) rotate(-1deg);
   }
   50% {
      transform: translateX(-2px) rotate(1deg);
   }
   75% {
      transform: translateX(-1px) rotate(-1deg);
   }
   100% {
      transform: translateX(0px) rotate(1deg);
   }
}

// animation: 2.5s ease-in-out 0s infinite alternate spider-anim-flipped;
@keyframes spider-anim-flipped {
   0% {
      transform: translateX(4px) scaleX(-1);
   }
   25% {
      transform: translateX(3px) rotate(-1deg) scaleX(-1);
   }
   50% {
      transform: translateX(2px) rotate(1deg) scaleX(-1);
   }
   75% {
      transform: translateX(1px) rotate(-1deg) scaleX(-1);
   }
   100% {
      transform: translateX(0px) rotate(1deg) scaleX(-1);
   }
}

// animation: 3s ease-in-out 0s infinite alternate dragon-anim;
@keyframes dragon-anim {
   0% {
      transform: rotate(-7deg);
   }

   100% {
      transform: rotate(7deg);
   }
}
// animation: 3s ease-in-out 0s infinite alternate dragon-anim-flipped;
@keyframes dragon-anim-flipped {
   0% {
      transform: rotate(-7deg) scaleX(-1);
   }

   100% {
      transform: rotate(7deg) scaleX(-1);
   }
}
