.wrapper_timer {
   background: url("../images/timer/bg.jpg") top center no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

// .timer
.timer {
   padding: 40px 0px 100px 0px;
   @media (max-width: 767.98px) {
      padding: 20px 0px 100px 0px;
   }

   // .timer__dialogs

   &__dialogs {
      & > * {
         margin-bottom: 40px;
         @media (max-width: 767.98px) {
            margin-bottom: 20px;
         }
      }
   }
}
.tomb_timer {
   width: 350px;
   height: 594px;
   margin: 0 auto 40px auto;
   padding-top: 148px;
   background: url("../images/timer/tomb.png") no-repeat;
   background-size: cover;
   color: #4b4e49;
   filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.5));

   @media (max-width: 767.98px) {
      margin: 0 auto 20px auto;
   }
   @media (max-width: 374.98px) {
      width: 317px;
      height: 538px;
      padding-top: 134px;
   }
   @media (max-width: 349.98px) {
      width: 289.9px;
      height: 492px;
      padding-top: 125px;
   }

   // .tomb_timer__nav

   &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      margin: 0 auto 20px auto;
      @media (max-width: 374.98px) {
         gap: 92px;
      }
      @media (max-width: 349.98px) {
         gap: 82px;
         margin: 0 auto 15px auto;
      }
   }

   // .tomb_timer__play

   &__play {
      width: 26px;
      img {
         max-width: 100%;
         width: 100%;
         filter: drop-shadow(2px 2px 3px #000000);
         transition: all 0.3s linear;
         &:hover {
            transform: translateY(2px);
            filter: drop-shadow(2px 0px 3px #000000);
         }
      }
      position: relative;
      @media (max-width: 767.98px) {
         &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%);
         }
      }
   }

   // .tomb_timer__restart

   &__restart {
      width: 26px;
      img {
         max-width: 100%;
         width: 100%;
         filter: drop-shadow(2px 2px 3px #000000);
         transition: all 0.3s linear;
         &:hover {
            transform: translateY(2px);
            filter: drop-shadow(2px 0px 3px #000000);
         }
      }
      position: relative;
      @media (max-width: 767.98px) {
         &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%);
         }
      }
   }

   // .tomb_timer__time

   &__time {
      font-size: 56px;
      line-height: 86%;
      text-align: center;
      margin-bottom: 10px;
      @media (max-width: 349.98px) {
         font-size: 50px;
      }
   }

   // .tomb_timer__label1

   &__label1 {
      font-size: 22px;
      line-height: 91%;
      text-align: center;
      margin-bottom: 10px;
      @media (max-width: 349.98px) {
         font-size: 20px;
      }
   }

   // .tomb_timer__session

   &__session {
      font-size: 36px;
      line-height: 83%;
      display: flex;
      gap: 11px;
      justify-content: center;
      margin-bottom: 10px;
   }

   // .tomb_timer__label2

   &__label2 {
      font-size: 22px;
      line-height: 91%;
      text-align: center;
      margin-bottom: 10px;
      @media (max-width: 349.98px) {
         font-size: 20px;
      }
   }

   // .tomb_timer__break

   &__break {
      font-size: 36px;
      line-height: 83%;
      display: flex;
      gap: 11px;
      justify-content: center;
   }
}

.session_timer {
   // .session_timer__left
   // .session_timer__right

   &__left,
   &__right {
      &:hover {
         transition: all 0.1s linear;
         transform: scale(1.1);
      }
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         width: 50px;
         height: 50px;
         transform: translate(-50%, -50%);
      }
   }
}
.break_timer {
   // .break_timer__left
   // .break_timer__right

   &__left,
   &__right {
      &:hover {
         transition: all 0.1s linear;
         transform: scale(1.1);
      }
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         width: 50px;
         height: 50px;
         transform: translate(-50%, -50%);
      }
   }
}

// .swiper_4
.swiper_4 {
   overflow: hidden;
   .slide__image {
      width: 236px;
      margin: 0 auto 40px auto;
      @media (max-width: 767.98px) {
         margin: 0 auto 20px auto;
      }
      img {
         max-width: 100%;
         width: 100%;
         filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.5));
      }
   }
}
