$fontFamily:'Metal Mania';
/*-------------------------------VARIABLES-------------------------------*/
$paddingContainer: 15;
$maxWidthContainer: 1180+$paddingContainer * 2;

$md1: $maxWidthContainer+$paddingContainer;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$md5: 419.98px;
$md6: 379.98px;

$mainColor: #EEF6FF;

$mapWidth: 748px;
$mapHeight: 561px;

$timerLeft: 191px;
$timerTop: 75px;
$timerWidth: 46px;
$timerHeight: 91px;

$booksRight: 207px;
$booksTop: 112px;
$booksWidth: 84px;
$booksHeight: 100px;

$homeRight: 180px;
$homeBottom: 181px;
$homeWidth: 92px;
$homeHeight: 115px;

$dictionaryLeft: 146px;
$dictionaryBottom: 68px;
$dictionaryWidth: 121px;
$dictionaryHeight: 112px;

$gamesLeft: 166px;
$gamesBottom: 239px;
$gamesWidth: 67px;
$gamesHeight: 83px;

$shipLeft: 80px;
$shipBottom: 125px;
$shipWidth: 53px;
$shipHeight: 59px;

$shipLargeLeft: 313px;
$shipLargeTop: 180px;
$shipLargeWidth: 74px;
$shipLargeHeight: 59px;

$seamonsterRight: 276px;
$seamonsterBottom: 134px;
$seamonsterWidth: 53px;
$seamonsterHeight: 41px;